global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'docker-engine'
    static_configs:
      - targets: ['localhost:9323']  # IP Docker 
        # Linux: ['localhost:9323']  # IP

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['localhost:8080'] # IP
